<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowMembersToFlag>false</allowMembersToFlag>
    <branding>
        <loginFooterText>salesforce.com</loginFooterText>
        <pageHeader>testfolder/header.html</pageHeader>
        <primaryColor>#1797C0</primaryColor>
        <primaryComplementColor>#FFFFFF</primaryComplementColor>
        <quaternaryColor>#B1BAC1</quaternaryColor>
        <quaternaryComplementColor>#222222</quaternaryComplementColor>
        <secondaryColor>#51606E</secondaryColor>
        <tertiaryColor>#DDE4E9</tertiaryColor>
        <tertiaryComplementColor>#222222</tertiaryComplementColor>
        <zeronaryColor>#51606E</zeronaryColor>
        <zeronaryComplementColor>#FFFFFF</zeronaryComplementColor>
    </branding>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <description>Customers Community</description>
    <emailSenderAddress>mythilikumar.19@gmail.com</emailSenderAddress>
    <emailSenderName>Customers Community</emailSenderName>
    <enableGuestChatter>false</enableGuestChatter>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <networkMemberGroups>
        <profile>Salesforce platform copy</profile>
        <profile>Customer Portal Manager Standard</profile>
        <profile>HighVolumePortal</profile>
        <profile>Customer Portal Manager Custom</profile>
        <profile>Admin</profile>
    </networkMemberGroups>
    <picassoSite>Customers_Community1</picassoSite>
    <selfRegistration>true</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>Customers_Community</site>
    <status>Live</status>
    <tabs>
        <customTab>third</customTab>
        <defaultTab>01r900000008CyG</defaultTab>
        <standardTab>Case</standardTab>
    </tabs>
    <urlPathPrefix>customers</urlPathPrefix>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
